{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'manager/layui/css/layui.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'manager/my.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'manager/jquery-jvectormap-2.0.3.css' %}" />
    <script type="text/javascript" src="{% static 'manager/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'manager/jquery-jvectormap-2.0.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'manager/jquery-jvectormap-cn-mill.js' %}"></script>
    <script type="text/javascript" src="{% static 'manager/layer/layer.js' %}"></script>
    <script type="text/javascript" src="{% static 'manager/layui/layui.js' %}"></script>
    <script type="text/javascript">
    </script>

</head>
<body>

<header>
<div id="slogen">我们不维修仪器，我们只是仪器的搬运工。</div>
<div id="loginMenu">
{% if user.is_authenticated %}
<span>Welcome, {{ user }}.</span>
<a href="{% url 'manager:logout' %}">Logout</a>
{% else %}
<a href="{% url 'manager:login' %}">Login</a>
{% endif %}
</div>
</header>
{% block body %}
<!-- 侧边栏 -->
{% if user.is_authenticated %}

<nav>

<ul class="layui-nav layui-nav-tree layui-bg-cyan layui-inline" lay-filter="demo">
  <li class="layui-nav-item layui-nav-itemed">
    <a href="{% url 'manager:home' %}">首页</a>
  </li>
    <li class="layui-nav-item layui-nav-itemed">
    <a href="javascript:;">台站</a>
    <dl class="layui-nav-child">
<!--        <dd><a id="equipStatusIndex" data-type="tabAdd" onclick="newtab('equipStatusIndex')" href="javascript:;">台站信息</a></dd>-->
        <dd><a id="equipMaintainIndex" data-type="tabAdd" onclick="newtab('equipMaintainIndex')" href="javascript:;">维修信息</a></dd>
        <dd><a id="stationIndex" data-type="tabAdd" onclick="newtab('stationIndex')" href="javascript:;">台站库</a></dd>
    </dl>
  </li>
  <li class="layui-nav-item layui-nav-itemed">
    <a href="javascript:;">设备</a>
    <dl class="layui-nav-child">
        <dd><a id="deviceIndex" data-type="tabAdd" onclick="newtab('deviceIndex')" href="javascript:;">设备信息</a></dd>
    </dl>
  </li>
  <li class="layui-nav-item layui-nav-itemed">
    <a href="javascript:;">邮寄</a>
    <dl class="layui-nav-child">
        <dd><a id="deleveryIndex" data-type="tabAdd" onclick="newtab('deleveryIndex')" href="javascript:;">查询</a></dd>
        <dd><a id="unreturnedDelevery" data-type="tabAdd" onclick="newtab('deleveryIndex/unreturned')" href="javascript:;">未返回</a></dd>
    </dl>
  </li>
</ul>
</nav>

{% endif %}
<div class="floatBtn">
{% block floatBtn %}{% endblock %}
</div>
<!-- 主体部分  -->
<div class="main">
{% block main %}



<div class="layui-tab layui-tab-brief" lay-allowClose="true" lay-filter="tabs">
  <ul class="layui-tab-title">
    <li class="layui-this" lay-allowClose="false">首页</li>
  </ul>
  <div class="layui-tab-content">
    <div class="layui-tab-item layui-show">
        <div id="map" style="width: 100%; height: 600px;"></div>
    </div>
  </div>
</div>


{% endblock %}
</div>
{% endblock %}
<footer>
footer.
</footer>

<script type="text/javascript" >{% block js %}{% endblock %}</script>
<script>
layui.use('element', function(){
  var element = layui.element;

  element.on('nav(demo)', function(elem){
    //console.log(elem)
    layer.msg(elem.text());
  });
});

layui.use('util', function(){
  var util = layui.util;

  //执行
  util.fixbar({
    bar2: true
    ,click: function(type){
      console.log(type);
      if(type === 'bar2'){
        alert('点击了bar1')
      }
    }
  });
});
 $(function () {
    var map = new jvm.Map({
      map: 'cn_mill',
      container: $('#map'),
      focusOn: { lat:36.4,lng:118.5,scale:8 },
      backgroundColor: false,
      regionStyle: {
          initial: {
            fill: '#79aec8',
            "fill-opacity": 1,
            stroke: 'none',
            "stroke-width": 0,
            "stroke-opacity": 1
          },
          hover: {
            "fill-opacity": 0.8,
            cursor: 'pointer'
          },
          selected: {
            fill: 'yellow'
          },
          selectedHover: {
          }
    },
      showRegionLabel: true,
          markerStyle: {
      initial: {
        fill: '#F8E23B',
        stroke: '#383f47'
      }
    },
      markers: [
      {latLng: [36.6486,117.2225], name: 'JCZ'},
      ]
    });

  });
</script>
<script type="text/javascript" src="{% static 'manager/my.js' %}"></script>
</body>
</html> 