{% extends './base.html' %}
<div>
{% block main %}
<div>
{% include './searchField.html' %}
<table>
    <tr>
    <th>序号</th><th>型号</th><th>序列号</th><th>备注</th>
    </tr>
    {% for record in device_list %}
    <tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ record.serial_num }}</td>
    <td>{{ record.equip_type }}</td>
    <td>{{ record.note }}</td>
    <td><button onclick="edit({{ record.id }})">edit</button>
    <button onclick="deleteUnit({{ record.id }})" >delete</button></td>
    </tr>
    {% endfor %}
</table>
</div>

{% include './paginator.html' %}
<a href="javascript:history.go(-1);">返回上一页</a>
{% endblock %}
</div>