
{% include './filterKeyword.html' %}
<button class="layui-btn layui-btn-sm" onclick="newRecord('deleveryIndex')"><i class="layui-icon">&#xe654;</i></button>

{% include './tableDeleveryList.html' %}

{% if is_paginated %}
<div id="deleveryIndexPaginator"></div>
<script>
$(function() {
    setpage();
    setcolor();
});

function setpage() {
    layui.use(['laypage', 'layer'], function(){
      var laypage = layui.laypage
      ,layer = layui.layer;
      
        laypage.render({
            elem: $("li.layui-this").attr("lay-id")+'Paginator'
            ,count: {{ deleveryIndexPageObj.paginator.count }}
            ,limit: 20
            ,curr: {{ deleveryIndexPageObj.number }}
            ,layout: ['count', 'prev', 'page', 'next', 'skip']
            ,jump: function(obj, first){
                changepage(obj,first);
                }
      });
    });
}
</script>
{% endif %}




