
{% include './filterKeyword.html' %}
<button class="layui-btn layui-btn-sm" onclick="newRecord('deleveryIndex')"><i class="layui-icon">&#xe654;</i></button>

{% include './tableDeleveryList.html' %}
{% include './paginator.html' %}
<script>
$(document).ready(function(){
    setcolor();
});

function setcolor() {
	$(".backStatus").each(function () {
			if ($(this).text()=='未返回') {
			 $(this).css("color","red");
		    }
		    if ($(this).text()=='已返回') {
			 $(this).css("color","blue");
		    }
	});
}
function selectUnreturned(){
    $.ajax({
        type:'GET',
        url:'/deleveryIndex/unreturned',
        success:function (result) {
            $('#dataTable').html(result);
            setcolor();
        }
    });
}
</script>
