{% extends "./base.html" %}

{% block body %}
{% if not user.is_authenticated %}
<div class="loginDiv">
<form method="post" action="{% url 'manager:login' %}">
{% csrf_token %}
<center>
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input class="loginButton" type="submit" value="login" />
<input type="hidden" name="next" value="{% url 'manager:home' %}" />
</center>
</form>
</div>
{% endif %}
{% endblock %}