<br />

<form id="newRecord" class="layui-form" method="POST"  enctype="multipart/form-data" onsubmit="return false;">

{% csrf_token %}
<input type="hidden" id="par" name="par" value="{{ par }}">
{% for field in form %}
    <div class="layui-form-item">

        <label class="layui-form-label layui-input-inline">{{ field.label }}</label>
        
        
            <div class="layui-input-inline"
            {% if "date" in field.id_for_label %}
             id="datefield"
            {% endif %}
             >{{ field }}</div>
            
        

    </div>
{% endfor %}

<center>
<button onclick="saveNew()">保存</button>
</center>
</form>

<br />
<script>
layui.use('form', function(){
  var form = layui.form;
  form.render();
});
layui.use('laydate', function(){
  var laydate = layui.laydate;
  lay('#datefield>input').each(function(){
  laydate.render({
    elem: this
    ,trigger: 'click'
    ,zIndex: 99999999
  });
}); 
}); 
</script>
