

 <div class="districtFilter">
 <span class="filterName">市域:</span>
  <a href="javascript:;"><span class="unselected" onclick="setFilter('district','all')">All</span></a>
  {% for district in districts %}
       <a href="javascript:;"><span id="district{{district.id}}" class="unselected" onclick="setFilter('district',{{ district.id }})">{{ district }}</span></a>
  {% endfor %}
 </div>
 <div class="meanFilter">
 <span class="filterName">手段:</span>
  <a href="javascript:;"><span class="unselected" onclick="setFilter('measure_means','all')">All</span></a>
  {% for mean in measure_means %}
       <a href="javascript:;" ><span id="measure_means{{mean.id}}" class="unselected" onclick="setFilter('measure_means',{{ mean.id }})">{{ mean }}</span></a>
  {% endfor %}
 </div>
 <div class="returnStatus">
  <span class="filterName">返回状态:</span>
 <a href="./deleveryIndex?" >未返回</a>
<a href="" >已返回</a>
<a href="" >无需返回</a>
 </div>
<form id="search_form">
    <input type="text" />
    <button type="submit">搜索</button>
</form>
