<table class="layui-table" lay-even lay-skin="line" lay-size="sm">
    <thead>
        <tr>
            <th lay-data="{field:'number', width:80, sort: true}">序号</th>
            <th lay-data="{field:'name', width:200, sort: true}">名称</th>
            <th lay-data="{field:'sierialNum', width:80, sort: true}">编号</th>
            <th lay-data="{field:'measure_means', width:80, sort: true}">手段</th>
            <th lay-data="{field:'district', width:80, sort: true}">市域</th>
            <th lay-data="{field:'note', width:200, sort: true}"></th>
        </tr>
    </thead>
    <tbody>
    {% for record in station_list %}
    <tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ record.name_cn }}</td>
    <td>{{ record.code }}</td>
    <td>{{ record.measure_means }}</td>
    <td>{{ record.district }}</td>
    <td><button class="layui-btn layui-btn-primary layui-btn-sm" onclick="edit({{ record.id }})"><i class="layui-icon">&#xe642;</i></button>
    <button class="layui-btn layui-btn-primary layui-btn-sm" onclick="deleteUnit({{ record.id }})" ><i class="layui-icon">&#xe640;</i></button></td>
    </tr>
    {% endfor %}
    </tbody>
    <tfoot></tfoot>
</table>