body {
	font-family: sans-serif;
	background-color: #EEFFFF;
	}
header {
}
#slogen {
	text-align: center;
	display: inline;
	}
#loginMenu {
	background-color: #79DFCD;
	float: right;
	display: inline;
}

.loginDiv {
   margin-top: 100px;
   margin-bottom: 100px;
}
.loginButton {
    margin-top: 20px;
    font-size: large;
}
nav {
	width:120px;
	height: 100%;
	margin: 20px;
	margin-left: 0;
	padding: 0px;
	background-color:#f2f2f2;
	overflow: hidden;
	float: left;
	}
/*所有菜单项设置统一样式*/
.tree li {
	position: relative;
	list-style: none;
	margin: 0px;
	padding: 0px;
	}
/*一级菜单加下边线*/
.tree li{
	border-bottom: 1px solid #d9d9d9;
	}
/*给有子菜单的菜单项添加背景图标*/
.tree li label {
	max-width:999px;
	cursor: pointer;
	display: block;
	margin: 0px;
	padding: 15px 10px 15px 70px;
	text-align: left;
	white-space:nowrap;
	overflow:hidden;
	}
.tree li ol {
	cursor: pointer;
	display: block;
	margin: 0px;
	background-position:95% 50%;
	white-space:nowrap;
	overflow:hidden;
	}
.tree .level2folder {
	text-align: left;
	margin: 0px;
	padding: 0px;
	}
/*不同层级的菜单字体大小不同*/
.tree .level1menu{
	background-color:#99CCCC;
	padding:0px;
	margin:0px;
	font-size: 18px;
	text-align: center;
	}
.tree .level2menu{
	padding:0;
	margin:0;
	font-size:16px;
	background-color:#a7a7a7;
	text-align: center;
	}


section {
    float:left;
    padding:10px;
    min-height:600px;
    width: 70%;
}

.main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.districtFilter , .meanFilter {
    display: flex;
    text-align: center;
    
}
.filterName {
    text-align: center;
}
.districtFilter a, .meanFilter a {
    margin: 2px;
    width: 40px;
}
.selected {
    background-color: #FFCCCC;
    border: 1px;
}

.unselected {
    background-color: ;
    border: ;

}
footer {
    clear:both;
    text-align:center;
    padding: 5px;
}
textarea {
    vertical-align:top;
    height: 200px;
    width: 600px;
}

table,table tr th, table tr td {
	border:1px solid #0094ff;
	}
table {
	min-height: 25px;
	line-height: 25px;
	text-align: center;
	border-collapse: collapse;
	padding:2px;
	}
.deleveryDetail>p>label {
	margin-left:80px;
	float: left;
	width: 10em;
	margin-right: 1em;
	text-align: right;
}
.deleveryDetail p select {
	width:208px;
}
.deleveryDetail p input {
	width:200px;
}
.submitButton {
	margin-left: 208px;
}
form label {
	float: left;
	width: 10em;
	margin-right: 1em;
	text-align: right;
}
